<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/check.js"></script>
    <title>Title</title>
    <style>
    div
    {
        text-align:center;
    }
    </style>
</head>
<body>
<header>
    <h1>회원정보 수정</h1>
</header>
<form action="/updateuser" method="post">
    <div>
        아이디<input type="text" name = 'id' value="{{login.user_id}}" disabled><br>
        이메일<input type="text" name = 'email' value="{{login.user_email}}" disabled><br>
        성별<input type="text" name = 'gender' value="{{login.user_gender}}" disabled><br>
        이름<input type="text" name="name" value="{{login.user_name}}"><br>
        나이<input type="text" name = 'age' value="{{login.user_age}}"><br>
        키<input type="text" name = 'height' value="{{login.user_height}}"><br>
        몸무게<input type="text" name = 'weight' value="{{login.user_weight}}"><br>
        허리둘레<input type="text" name = 'weight' value="{{login.user_belly}}"><br>
    </div>
    <div>
        <input type="button" onclick="location.href = '/deluser'" value="회원 탈퇴">   <input type="submit" value="정보 수정">
    </div>
</form>
<footer>
<!--  <input type="button" value="나의 기록에 저장" onclick="location.href='/log'">-->
  <div>
    <input type="image" src="../static/img/smile.png" value="😃">
    <input type="image" src="../static/img/pngwing.com.png" value="홈으로" onclick="location.href='/main'">
    <input type="image" src="../static/img/back-arrow.png" value="뒤로" onclick="history.back()">
  </div>
</footer>
</body>
</html>