<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">
    <script src="../static/js/check.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
    <title>식비</title>
</head>
<body>
<header>
    <h1>회원탈퇴</h1>
</header>
<form action="/deluser" method="post">
    <div>정말로 탈퇴하시겠습니까?</div>
    <div><input type="password" name="pwc" placeholder="비밀번호 확인"></div>
    <div><input type="submit" value="본인확인"></div>
</form>
<footer>
<!--  <input type="button" value="나의 기록에 저장" onclick="location.href='/log'">-->
  <div>
    <input type="image" src="../static/img/smile.png" value="😃">
    <input type="image" src="../static/img/pngwing.com.png" value="홈으로" onclick="location.href='/main'">
    <input type="image" src="../static/img/back-arrow.png" value="뒤로" onclick="history.back()">
  </div>
</footer>
</body>
</html>