{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
        alert(" {{messages [-1]}}")
    </script>
  {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">
    <script src="../static/js/check.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
    <title>식비</title>
    <style>
    div
    {
        text-align:center;
    }
    </style>
</head>
<body>
<header>
    <h1>내 건강상태</h1>
</header>
<form action = "/main" method = "get"  id = "preCondi">
    <input type="hidden" name = "regi" value="regi">
    <div><b>{{name}}</>님의 현재 BMI는</div>
    <div>{{bmi}} : {{con}}이고.</div>
    <div>현재 체중은 {{weight}}이며 표준체중은 {{avg}}입니다.</div>
    <div>WHtR(허리둘레 신장 비율)은 {{whtr}} 으로 {{whtrcon}}입니다.</div>
    {% if condi != "" %}
    <div>{{condi}}</div>
    <div>따라서 ()가 제외되어 추천됩니다.</div>
    {% endif %}
    <div><input type="submit" value="다음으로"></div>
</form>
<footer>
<!--  <input type="button" value="나의 기록에 저장" onclick="location.href='/log'">-->
  <div>
    <input type="image" src="../static/img/smile.png" value="😃">
    <input type="image" src="../static/img/pngwing.com.png" value="홈으로" onclick="location.href='/main'">
    <input type="image" src="../static/img/back-arrow.png" value="뒤로" onclick="history.back()">
  </div>
</footer>
</body>
</html>