<!DOCTYPE html>
<html lang="ko">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
  <title>식비</title>
</head>
<!--<body style="padding-top: 75px; padding-bottom: 75px;">-->
<body>
<header>
  <h1>식단 추천</h1>
</header>
<form>
<div>
  <h3>
    {{name}}<br>
  </h3>
</div>
<div style="border:1px solid; height:300px;">
  {% for key, value in row.items() %}
    {{key}} : {{value}}<br>
  {% endfor %}
</div>
</form>
<footer>
<!--  <input type="button" value="나의 기록에 저장" onclick="location.href='/log'">-->
  <div>
    <input type="image" src="../static/img/smile.png" value="😃">
    <input type="image" src="../static/img/pngwing.com.png" value="홈으로" onclick="location.href='/main'">
    <input type="image" src="../static/img/back-arrow.png" value="뒤로" onclick="history.back()">
  </div>
</footer>
</body>
</html>